body {
    margin: 0;
    background-color: #222222;
    color: white;
    font-family: Arial, sans-serif;
}


/* Header */

header {
    text-align: center;
    padding-top: 80px;
}

.logo {
    width: 60px;
    height: auto;
    display: block;
    margin: 0 auto;;
}

h1 {
    color: #a99d2d;
    font-size: 1.9em;
}


/* Main image */

.banner {
    width: 95%;
    max-width: 1080px;
    margin: 30px auto;
}

.banner img {
    display: block;
    width: 100%;
    height: auto;
}


/* About section */

.about {
    width: 90%;
    max-width: 1100px;

    margin: 50px auto;

    text-align:center;
}

.about h2 {
    color: #cccccc;
}

.about h3 {
    color: #a99d2d;
    font-size: 40px;
}

.about p {
    color: #cccccc;

    font-size: 2.5em;
    line-height: 1.5em;
}


/* Resume button */

.resume-button {
    display: block;
    width: fit-content;
    margin: 40px auto;

    padding: 18px 40px;;

    background-color: #a99d2d;
    color: white;

    text-decoration: none;

    border-radius: 30px;
}

.resume-button:hover {
    background-color: #a99d2d;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 600px) {

    header {
        padding-top: 40px;
    }

    .logo {
        width: 60px;
    }

    h1 {
        font-size: 30px;
    }

    .banner {
        width: 100%;
    }

    .about {
        width: 88%;
        margin-top: 35px;
    }

    .about h2 {
        font-size: 20px;
    }

    .about h3 {
        font-size: 30px;
    }

    .about p {
        font-size: 17px;
    }

    .resume-button {
        display: block;
    width: fit-content;
    margin: 40px auto;

    padding: 18px 40px;
        
    }
}